body {
  font-family: sans-serif;
  width: 100%;
  
}

.container {
  background-image: url("https://i.redd.it/julflla6v0061.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
}

.content {
  position: relative;
  margin-left: 180px;
  color: white;
  
}

.video {
  position: fixed;
  left: 0;
  bottom:0;
  max-width:170px;
  padding:5px;
}

#video {
  
}

/*targets "contact" and creates a pseudo sidebar*/
.contact {
  color: white;
  padding-left: 10px;
  height: 100%;
  width: 170px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}


/*this line targets anchor elements in "contact" and changes their color*/
.contact a{
  color: #818181;
}

/*Targets anchor elements in "contact" and changes color on mouse hover*/
.contact a:hover {
color: #f1f1f1;
}

.education{
  
}
