body {
  font-family: sans-serif;
  margin: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  /*trying to pad left but main content still stuck behind "contact"*/
  
}


.contact {
  color: white;
  padding-left: 10px;
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}


/*this line targets anchor elements in "contact" and changes their color*/
.contact a{
  color: #818181;
}

/*Targets anchor elements in "contact" and changes color on mouse hover*/
.contact a:hover {
color: #f1f1f1;
}
